<link rel="stylesheet" href="/css/home.css" />

<div id="main-container">
  <div id="form-container">
    <form id="search-form" method="POST" action="/search">
      <input type="text" placeholder="Enter the tag" id="tag-input" />
      <button type="submit" id="submit">Search</button>
    </form>
  </div>
  <div id="results">
    <div id="post">
      <div class="right-container"></div>
    </div>
  </div>
</div>

<script src="/js/index.js"></script>
